.dm_div {
    padding: 2em;
    margin: 1.5em 1.5em 1.5em 21em;
    border: 3px solid #a6a7a8;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    width: 29vw;
    background-color: #81b9c7;
    font-size: 25px;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(61, 60, 60);
    cursor: pointer;
}

.dm_div:hover {
    border: 3.5px solid black;
    background-color: #81bee7;
    color: rgb(107, 99, 99);
}