.msg_history_div {
    padding: 1em;
    margin: 0.5em 0em 2em 20em;
    width: 35vw;
    border: 3px solid #a6a7a8;
    background-color: #81b9c7;
    font-size: 25px;
    border-top-right-radius: 170px;
    border-bottom-left-radius: 170px;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(61, 60, 60);
    cursor: pointer;
}

.msg_history_div:hover {
    border: 3.5px solid black;
    background-color: #81bee7;
    color: rgb(107, 99, 99);
}

.msg_hx {
    margin-bottom: 2em;
    margin-left: 3em;
}

.msg_btns {
    display: flex;
    margin-left: 36em;
    margin-bottom: 7em;
    margin-top: 5em;
    /* padding: 2em; */
}

#sentMsgBtn {
    padding: 10px;
    margin-right: 50px;
    color: black;
    background-color: #5bb1c7;;
    border-radius: 50px;
    font-size: 25px;
    /* width:  30%; */
}

#sentMsgBtn:hover {
    border: 2px solid rgb(48, 126, 216);
    color: white;
    background-color: rgb(43, 41, 41);
}

#receivedMsgBtn {
    padding: 10px;
    margin-right: 50px;
    color: black;
    background-color: #5bb1c7;;
    border-radius: 50px;
    font-size: 25px;
}

#receivedMsgBtn:hover {
    border: 2px solid rgb(48, 126, 216);
    color: white;
    background-color: rgb(43, 41, 41);
}

#allMsgBtn {
    padding: 10px;
    margin-right: 15px;
    color: black;
    background-color: #5bb1c7;;
    border-radius: 50px;
    font-size: 25px;
    cursor:pointer;
}

#allMsgBtn:hover {
    border: 2px solid rgb(48, 126, 216);
    color: white;
    background-color: rgb(43, 41, 41);
}